@import url(http://fonts.googleapis.com/css?family=Arimo:400,700|Crimson+Text:400,600,600italic,400italic,700);

//Add Color Palette
$blue_1st	: #1b4585;
$blue_2nd	: #006699;
$blue_3rd	: #0088cc;
$blue_4th	: #cfe7e7;
$blue_5th	: #f1f8f8
$grey_1st	: #3f3f3f;
$grey_2nd	: #4d4f53;
$grey_3rd	: #cccccc;
$grey_4th	: #f1f1f1;
$orange		: #ff9900;
$cream		: #fff5eb;
$green		: #cccc00;
$green_2nd	: #f9f9e5;
$black		: #000000;
$white		: #ffffff;

$bg_color	: $white;
$font_color	: $grey_1st;
$bg_nav		: #blue_2nd;

$fontfamily	: 'Arimo','Crimson', Helvetica, Arial, sans-serif;

